# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/en/code-security/dependabot/working-with-dependabot/dependabot-options-reference

version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'monthly'
      time: '02:00'

  - package-ecosystem: 'devcontainers'
    directory: '/'
    schedule:
      interval: 'monthly'
      time: '02:00'

  - package-ecosystem: 'dotnet-sdk'
    directory: '/'
    schedule:
      interval: 'monthly'
      time: '02:00'

  - package-ecosystem: 'nuget'
    directory: '/'
    schedule:
      interval: 'monthly'
      time: '02:00'
    open-pull-requests-limit: 20
    groups:
      event-bus:
        patterns: ['Tingle.EventBus*']
      microsoft:
        patterns: ['Microsoft*']
      system:
        patterns: ['System*']
      xunit:
        patterns: ['Xunit*']
